@tailwind base;
@tailwind components;
@tailwind utilities;

.closeNav {
    animation: closenav 300ms forwards;
}

@keyframes closenav {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.openNav {
    animation: openNav 300ms forwards;
}

@keyframes openNav {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
